@charset "utf-8";

.selectedCell{
	background-color: rgba(66, 116, 202, 0.84);
	color:white;
}

.theme-showcase .navbar .container {
	width: auto;
}

.navadd{
	-webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 0px 8px 0px;
	box-shadow: rgba(0, 0, 0, 0.45098) 0px 0px 8px 0px;

}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
	-ms-user-select: none;
	user-select: none;
}

.hideMouse{
	cursor: none;
}
@media (min-width: 1200px) {
	.timerMain {
		font-size: 160px;
		padding-top: 20px;
	}

	.timerText {
		font-size: 54px;
	}

	.groupName {
		font-size: 30px;
		color: #a5a5a5;
	}

	.roundText {
		font-size: 44px;
		color: #8e8e8e;
	}
}
@media (min-width: 991px) and (max-width: 1200px) {
	.timerMain {
		font-size: 12vw;
		padding-top: 20px;
	}

	.timerText {
		font-size: 4.3vw;
	}

	.groupName {
		font-size: 2.2vw;
		color: #a5a5a5;
	}

	.roundText {
		font-size: 3.4vw;
		color: #8e8e8e;
	}
}
@media (max-width: 991px) {
	.timerMain {
		font-size: 13vw;
	}

	.timerText {
		font-size: 5vw;
	}

	.groupName {
		font-size: 3vw;
		color: #a5a5a5;
	}

	.roundText {
		font-size: 4vw;
		color: #8e8e8e;
	}
}
@media (min-width: 991px) {

	.allCenter{
		position: relative;  top: 50%;  transform: translateY(-50%);
	}
}

@media (max-width: 991px) {

	.allCenter{
		text-align: center;
	}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */

	font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
	color: #424242;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}

.footer1 {

	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}



.navbar-nav1 {
	width: 100%;
	text-align: center;
}
.navbar-nav1 > li {
	float: none;
	display: inline-block;
}
.navbar-nav1 > li.navbar-right {
	float: right !important;
}