@charset "utf-8";

.selectedCell{
	background-color: rgba(66, 116, 202, 0.84);
	color:white;
}

.theme-showcase .navbar .container {
	width: auto;
}

.navadd{
	-webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 0px 8px 0px;
	box-shadow: rgba(0, 0, 0, 0.45098) 0px 0px 8px 0px;

}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
	-ms-user-select: none;
	user-select: none;
}

.hideMouse{
	cursor: none;
}

.timerMain{
	font-size: 7.5vw;
	padding-top: 20px;
}
.timerText {
	font-size: 3vw;
}
.groupName{
	font-size: 1.3vw;
	color: #a5a5a5;
}
.roundText{
	font-size: 2.7vw;
	color: #8e8e8e;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
	color: #424242;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */



.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}



.navbar-nav1 {
	width: 100%;
	text-align: center;
}
.navbar-nav1 > li {
	float: none;
	display: inline-block;
}
.navbar-nav1 > li.navbar-right {
	float: right !important;
}