<!DOCTYPE html>
<html lang="en" ng-app="main" style="height: 100%">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="javascript/socket.io.js"></script>
    <script src="javascript/angular.min.js"></script>
    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <title>Portal - Project Timer</title>
    <script src="javascript/index/app.js"></script>
</head>
<body ng-controller="mainCtrl as mc" role="document" style="cursor:default; height: 100%">
    <div class="container unselectable" role="main" style="height: 80%">
        <div class="allCenter" align="center">
            <h1>Project Timer</h1><br>
            <table>
                <tr>
                    <td width="20%">
                    </td>
                    <td>
                        <input ng-model="mc.roomid" class="input-lg" placeholder="房间ID">
                        <br>
                        <input ng-model="mc.passwd" class="input-lg" placeholder="完全访问密码" type="password">
                    </td>
                    <td><button class="btn btn-lg btn-primary" ng-click="mc.RO=false;mc.Join()">创建房间</button>
                        <br>
                        <button class="btn btn-lg btn-default" ng-click="mc.RO=false;mc.Join()">加入并完全访问</button>
                        <button class="btn btn-lg btn-default" ng-click="mc.RO=true;mc.Join()">加入并仅显示</button>
                    </td>
                </tr>

            </table>
        </div>

    </div>
</body>
</html>